.profile-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  }

  .profile-image-wrapper{
    width: 22.22%;
    display: block;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
  
  .profile-form-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }

  .profile-img-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-content: center;
  }

  
  

  .profile-img-wrapper img{
    width: 100px;
    height: 80px;
    object-fit: cover;
    display: block;
    position: absolute;
  }

  .file-wrapper{
    align-content: flex-end;
    margin-left: auto;
    width: 50%;
  }

  .file{
    background: none !important;
    border: none;
  }

  .file label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }
  
  form {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 3rem;
  }
  
  .profile-form-wrapper h1 {
    text-align: center;
    width: 100%;
    color:  #222;
    font-weight: lighter;
  }
  
  .profile-form-wrapper label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  .profile-form-wrapper .input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    line-height: 2;
  }

  .profile-form-wrapper {
    outline: none;
    border:1px;
    line-height: 2;
   
  }

  .profile-form-wrapper textarea{
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    line-height: 2;
  }
  
  .profile-form-wrapper .input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  .profile-form-wrapper .input .error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .firstName {
    margin-right: 1%;
  }
  
  .lastName {
    margin-left: 1%;
  }
  
  .firstName,
  .lastName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .firstName,
  .lastName {
    width: 49%;
  }
  
  .email,
  .password {
    width: 100%;
  }

  .remember_wrapper{
    display: flex;
    flex-wrap: wrap;
  }

  .rememberMe{
   flex-direction: row;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color: #dc3545;
    border: #dc3545;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    min-height: 30px;
  }
  
  .createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: none;
  }
  
  .createAccount small {
    color: #999;
    font-weight: lighter;
  }

  .signAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signAccount button {
    background-color: #519e8a;
    border: #519e8a;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .signAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: none;
  }
  
  .signAccount small {
    color: #fff;
    font-weight: lighter;
  }