.gallery-container {
    padding: .9375rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
  }
  .gallery-container h1 {
    margin: 2rem 0;
    padding: 0;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    font-size: 2.4vw;
    font-weight: lighter;
  }
  .gallery-grid {
    display: grid;
    max-width: 1220px;
    grid-gap: 1rem;
    margin: 0 auto;
  }

  .gallery-search-box{
    margin-bottom: 30px;
    flex-direction: column;
    width: 500px;
    height: auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 1;
  }

  .gallery-item{
    position: relative;
    background: none;
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    height: 200px;
  }

  .gallery-item .link{
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .gallery-item a{
    text-decoration: none;
    color: #fff;
  }

  .gallery-item img{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width:100%;
    height:100%;
    display: block;
    object-fit:cover;
    border-radius: 10px;
    transition: all 0.2s linear;
  }

  .gallery-item img:hover {
    transform: scale(1.07);
  }

  .bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bottom-left p{
    text-decoration: none;
    font-size: 2.2vw;
    font-weight: lighter;
    padding: 0;
   
    color: #fff;
    text-transform: uppercase;
  }

  

  @media (min-width: 600px) {
    .gallery-grid { grid-template-columns: repeat(2, 1fr); }
    .bottom-left p{
      font-size: 1.2vw;
    }

   
  }
  
  @media (min-width: 900px) {
    .gallery-grid{ grid-template-columns: repeat(3, 1fr); }
    .bottom-left p{
      font-size: 1.2vw;
    }
   
  }

  @media (max-width: 600px){
    .gallery-search-box{
      width: 250px;
    }

    .gallery-container h1{
      font-size: 22px;
    }
    .bottom-left p{
      font-size: 22px;
    }
  }
  